/*
3DHOP - 3D Heritage Online Presenter
Copyright (c) 2014-2016, Marco Callieri - Visual Computing Lab, ISTI - CNR
All rights reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.tdhop {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#tdhlg {
  position: absolute;
  right: 2;
  bottom: 2;
  width: 105px;
  height: 13px;
  overflow: hidden;
  cursor: pointer;
  color: #909090;
  text-decoration: none;
  font-family: verdana;
  font-style: italic;
  font-size: 10px;
  line-height: 13px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#toolbar {
  position: absolute;
  left: 10px;
  top: 10px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#toolbar img {
  margin-bottom: 8px;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.output-box {
  position: absolute;
  display: none;
  border-radius: 5px;
  margin: 0;
  height: 48px;
  padding: 0px 5px 2px 5px;
  cursor: default;
  background-color: rgba(125, 125, 125, 0.5);
  color: #f8f8f8;
  text-decoration: none;
  text-align: center;
  font-family: verdana;
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.output-text {
  padding: 0px 5px 0px 5px;
  cursor: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.output-input {
  vertical-align: middle;
  cursor: pointer;
  height: 16px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.output-table {
  margin: 0;
  width: 100%;
  color: #f8f8f8;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  line-height: 15px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.output-table img {
  height: 25px;
  cursor: pointer;
  background-color: rgba(125, 125, 125, 0.25);
  border: 1px outset;
  border-radius: 5px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-drag: none;
  -webkit-user-drag: none;
}

.output-table img:hover {
  background-color: rgba(125, 125, 125, 0.8);
}

.output-box hr {
  margin: 0 0 3px 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(225, 225, 225, 0.75), rgba(0, 0, 0, 0));
}

#draw-canvas {
  background: no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  outline: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: 65px;
  left: 65px;
}

#mainviewercontainer {
  overflow: hidden;
  padding: 5px;
}

.choosemode,
.tdhop {
  background: transparent;
}

#measurebox {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  border-radius: 5px;
  right: 10px;
  top: 10px;
  margin: 0;
  width: 105px;
  height: 26px;
  cursor: default;
  color: #909090;
  text-decoration: none;
  text-align: center;
  font-family: verdana;
  font-style: italic;
  font-size: 10px;
  line-height: 13px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#measure-output {
  cursor: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
